

table#example {
    width: 100%;
    border-collapse: collapse;
}
table#example tr {
    background: #eee;
}
table#example th {
    padding: 19px;
    border: 1px solid #ccc;
    text-align: left;
    width: 24%;
}
table#example td {
    padding: 19px;
    border: 1px solid #ccc;
    text-align: left;
}
#prints h2 {
    margin: 10px 0 20px 0;
    border-bottom: 1px solid #000 dotted;

}